
body, * {
	margin: 0px;
	padding: 0px;
	border: 0px;
	outline: 0px;
	font-family: "Helvetica Neue", Arial;
}

#navigation {
	display: block;
	background-color: #555;
	text-align: center;
	padding: 10px;
}

#navigation .title {
	display: inline-block;
	font-size: 19px;
	color: white;
}

#navigation .subtitle {
	display: inline-block;
	font-size: 12px;
	color: #aaa;
}

#content {
	display: block;
	width: 1000px;
	margin-top: 15px;
	margin-left: auto;
  	margin-right: auto;
}

#content .headline {
	display: block;
	margin: 15px;
	margin-top: 40px;
	font-size: 30px;
	font-weight: 600;
}

#content .box {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 435px;
	margin: 10px;
	padding: 20px;
	border-radius: 15px;
	background-color: #f3f3f3;
}

#content .box-image {
	display: inline-block;
	float: left;
	width: 108px;
	height: 108px;
	margin-right: 18px;
	margin-bottom: 10px;
}

#content .box-title {
	display: block;
	text-align: left;
	font-size: 24px;
	font-weight: 600;
}

#content .box-description {
	display: block;
	color: #777;
	margin-top: 20px;
}

#content .box-link {
	float: right;
}

#content .box-link img {
	display: block;
	margin-top: 20px;
}

#content a {
	color: #669966;
	text-decoration: none;
}

#footer {
	margin: 20px;
	display: block;
	text-align: center;
	font-size: 12px;
	color: #ccc;
}





